rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /urls/{document=**} {
    	allow get: if true;
      allow create: if request.auth != null;
      allow delete, update, list: if request.auth.uid == resource.data.uid;
    }
  }
}